.Main
  /ヘッダー画像
  .Main__top
    %h1 いつでもどこでも誰でも何度でもリハビリテーションを！
    %br
    %h1 一人一人に適した栄養情報と摂取方法を提案！
    %br
    %h2 新着コンテンツ
    .Main__top__first-view
      = image_tag "juan-pablo-rodriguez-X6jtULYJQz8-unsplash.jpg", alt: "トップ画面", class:"top-image"
      
      = image_tag "ekaterina-shakharova-L4nwL3195U0-unsplash.jpg", alt: "トップ画面", class:"top-image"
      
      = image_tag "brooke-lark-jUPOXXRNdcA-unsplash.jpg", alt: "トップ画面", class:"top-image"
      
  /特徴
  .Main__feature 
    .Main__feature__reha
      %h1.Main__feature__reha__message トレーニング
      = link_to image_tag("edgar-chaparro-5a5BoMAyJeU-unsplash.jpg", alt: "健康を支える", class: "main-image"), content_comments_path(current_user)
      %p.Main__feature__reha__explanation 
      本日のトレーニングメニューはこちら
      
         


    .Main__fearute__nut
      %h1.Main__feature__nut__message 栄養
      = link_to image_tag("dan-gold-4_jhDO54BYg-unsplash.jpg", alt: "あなたにあった栄養を", class: "main-image"), nut_content_path(current_user)
      %p.Main__fearute__nut__explanation 
      本日の栄養管理・情報についてはこちら

  /サービス内容
  .Main__service
  /サービスの流れ
  .Main__procedure