.Base
  .Header
  /インフォメーション
  .Header__info
    .Header__info__title 
      .main-title
        = link_to "RehaNut", root_path
    .Header__info__navbar
      %ul.nav-lists 
        %li RehaNutについて
        %li メニュー
        %li.nav-lists__Username
          = link_to edit_user_path(current_user) do
            = current_user.name

  .Content
    %h1 本日のトレーニングメニュー
    %h1 本日のトレーニングに対するコメント
    .Content__field
      = render @comments
  
  .Comment
    = form_with model: [@content, @comment], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :comment, class: 'Form__contents__text', placeholder: 'コメントを入力'
        = f.label :image, class: 'Form__contents__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'Form__contents__image__file'
      = f.submit '送信', class: 'submit-btn'
    
.Footer
  .Footer__inner
    %ul.Footer__inner__category
      %li ホーム
      %li 利用規約
      %li FAQ
      %li お問い合わせ
      %li アクセス

  .Footer__nav
    %ul.Footer__nav__information
      %li.Footer__nav__information--list 運営会社
      %li.Footer__nav__information--list 個人情報保護方針
      %li.Footer__nav__information--list Copyright © 2020 RehaNut Inc. All rights reserved.
